body {
    text-align: center;
    background-color: pink;
    font-family: "Arial", sans-serif;
}

h1{
    color: grey;
}
button{
    padding: 10px;
    font-size: 18px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: pink;
}
.result{
    margin-top: 20px;
    font-size: 20px;
}